.name, .email, .phone, .schoolname, .degree, .bullet, .companyname, .location, .companydescription, .designation
{
    min-width: 100px;
}
body
{
    margin: 1in 3in;
    line-height: 1.5em;
    font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande", "Roboto", "Segoe";
}
h1, .date, .schoolname, .companyname, .location, .companydescription
{
    font-size: 1.2em;
    font-weight: bold;
}
section.experience ,section.education,section.additionalInformation,section.languages,section.nationality
{
    border-top: 1px solid black;
}
h1
{
    text-transform: uppercase;
}
section
{
    margin-bottom: 15px;
}
.personalInformation
{
    text-align: center;
}
.separated
{
    display: flex;
    justify-content:flex-start;
}
.date, .languages h1, .nationality h1
{
    min-width: 15%;
    margin-right: 10%;
}
.rightCol
{
    width: 75%
}
.languages, .nationality
{
    margin-top: 1em;
}
ul
{
    margin-top: 0px;
}
.additionalContainer
{
    display: flex;
    justify-content: flex-end;
}
.additionalContainer ul
{
    width: 75%;
    margin-top: 0px;
}
@media screen and (max-width: 1024px) and (min-width: 500px)
{
    body
    {
        margin: 1in;
    }
    li
    {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 500px)
{
    body
    {
        margin: 20px;
    }
    li
    {
        font-size: 1.3em;
    }
}
