.name, .email, .phone,.address, .schoolname, .degree, .bullet, .companyname, .location, .companydescription, .designation
{
    min-width: 100px;
}

.name, .email, .centeredFlex{
    max-width: 400px;
}

.schoolname, .companyname, h1
{
    text-transform: uppercase;
}

.name
{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.3em;
}
.name::first-letter
{
    font-size: 1.2em;
}
.centeredFlex
{
    align-items: center;
    justify-content: center;
    display: flex;
}
.centeredFlex div
{
    margin-left: 5px;
    margin-right: 5px;
}
.personalInformation
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date, .location
{
    text-align: right;
}
.educationPoint.location
{
    text-transform: capitalize;
}
body
{
    font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande", "Roboto", "Segoe";
        /*font-family: "Helvetica"*/
    margin: 1in 2in;
    line-height: 1.5em;
    font-size: 11pt;
}
h1, .schoolname, .companyname   , .location, .companydescription
{
    font-size: 1.2em;
    font-weight: 600;
}
ul
{
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
}
h1
{
    border-bottom: 1px solid black;
    font-size: 1.4em;
    font-weight: 800;
}
section
{
    margin-bottom: 15px;
}
.personalInformation
{
    text-align: center;
}
.separated
{
    display: flex;
    justify-content:space-between;
}
.rightCol
{
    min-width: 70%
}
ul
{
    margin-top: 0px;
}
.sweet-alert ul
{
    text-align: left;
}
.sweet-alert p img
{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1024px) and (min-width: 500px)
{
    body
    {
        margin: 1in;
    }
	li
	{
		font-size: 1.2em;
	}
    button
    {
        margin: 10px;
    }
}
@media screen and (max-width: 500px)
{
    body
    {
        margin: 10px;
    }
	li
	{
		font-size: 1.4em;
	}
     button
    {
        margin: 5px;
        padding: 5px;
    }
}
