doctype html(lang='en')
head
    title LBS Template  
    meta(charset='utf-8', name='name', content='content')
    link(rel='stylesheet', href='./static/LBS.css')
  body(ng-app = "resumeEditApp")
    section.personalInformation
      .personalInformation.name
        | Rashid A Alsuqair       
      .personalInformation.email
        | ralsuqair@gmail.com
      .personalInformation.phone
        | 00447456772774 - 00966505890586
    section.education
        h1 Education
        .educationPoint
            .separated
              .educationPoint.date
                | 2007 - 2011
              .rightCol
                .educationPoint.schoolname
                  | Prince Mohammad Bin Fahd University, Alkhobar, Saudi Arabia         
                .educationPoint.degree
                  | Bsc in Finance
                  ul
                    li.educationBullet
                      | Dean&apos;s List student during undergraduate studies 
    section.experience
      h1  Experience
      .experiencePoint
        .separated
          .experiencePoint.date
            | Mar 2012 to Apr 2013            
          .rightCol
            .experiencePoint.company
              | SAUDI ARABIAN MONETARY AGENCY (SAMA)
            .experiencePoint.location
              | Riyadh, Saudi Arabia
            .experiencePoint.companydescription
              | Central Bank of Saudi Arabia.
            .experiencePoint.designation
              | Business Development
            ul.experiencePoint.bullets
              li.experiencePoint.bullet
                | Managed team of 12 representatives from SAMA and participant banks to oversee Prepaid Payment Services (PPS) Pilot Program
              li.experiencePoint.bullet
                | Analyzed and critiqued technology-related financial products, made approval recommendations to Director, and ensured compliance with SAMA rules
              li.experiencePoint.bullet
                | Served as SAMA  s representative to consult on Wage Protection System (WPS), a Ministry of Labor national initiative to ensure workers in KSA receive salaries on-time and in-full via monitored process
              li.experiencePoint.bullet
                | Managed quarterly merchant satisfaction survey regarding SPAN linked point-of-sale (POS) terminals, measured system updates impact, and developed project business cases, including enablement of POS offline and contactless transactions
              li.experiencePoint.bullet Assisted development of updated SPAN Operating Rules, Standards and Procedures
              li.experiencePoint.bullet
                | Supported launch of new SPAN website, including design selection, content development and editing, and management of pre-launch User Acceptance Testing and subsequent modifications                         
              li.experiencePoint.bullet
                | Served on 8-member evaluation committee representing SAMA and member banks to select a marketing firm to manage advertisement of new SPAN brand         
              li.experiencePoint.bullet
                | Researched potential KSA market entry of international credit card company, focusing on potential regional brand acceptance, and presented recommendations to Director on whether company should enter market at current time
    section.additionalInformation
      h1 Additional Information        
      ul.experiencePoint.bullets
        li.experiencePoint.bullet
          | Vice President of the LBS Energy Club Executive Committee, responsible for career services/li&gt;
        li.experiencePoint.bullet
          | Active member of the LBS Private Equity and Venture Capital Club, Finance Club, Industry
        li Club and Football Club
        li
          | Strategic Planner in Giving Hands, a Saudi Charity Organization, planning for fund-raising  and charitable events
        li Volunteered as a Finance Expert at Rawabi Talent Exhibit in Saudi Arabia
    section.languages
      h1 Languages
      .languages.text
        | Fluent English, Native Arabic
    section.nationality
      h1 Nationality  
      .nationality.text
        | Saudi Arabia
  script.
    resumeData = !{JSON.stringify(resume)}
    console.log(resumeData.personalInformation);
