doctype html
html(lang='en',ng-app = "resumeEditApp")
    head
        title LBS Template  
        meta(charset='utf-8', name='name', content='content')
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel='stylesheet', href='./static/templateSpecific/LBS/LBS.css')
        link(rel = 'stylesheet' href = "./static/bower_components/tether-tooltip/dist/css/tooltip-theme-arrows.css")
        link(rel='stylesheet', href='./static/bower_components/sweetalert/dist/sweetalert.css')
    body(ng-controller = "mainCtrl")
        section.personalInformation
            .personalInformation.name(contenteditable ng-model = "resumeData.personalInformation.name") {{resumeData.personalInformation.name}}
            .personalInformation.email(contenteditable ng-model = "resumeData.personalInformation.email") {{resumeData.personalInformation.email}}
            .personalInformation.phone(contenteditable ng-model = "resumeData.personalInformation.phone") {{resumeData.personalInformation.phone}}
        section.education
            h1 Education
            .educationPoint(ng-repeat = "educationPoint in resumeData.education")
                .separated
                    .educationPoint.date(contenteditable ng-model = "educationPoint.date_raw") {{educationPoint.startyear}} - {{educationPoint.startyear}}
                    .rightCol
                        .educationPoint.schoolname(contenteditable ng-model = "educationPoint.schoolname" ) {{educationPoint.schoolname}}
                        .educationPoint.degree(contenteditable ng-model = "educationPoint.degree") {{educationPoint.degree}}
                        ul
                            li.education.bullet(ng-repeat = "bullet in educationPoint.bullets" contenteditable ng-model = "bullet.text") {{bullet.text}} 
                            button(ng-click = "addBullet(educationPoint)") Add Bullet
            button(ng-click = "addEducationPoint()") Add another education detail
        section.experience
            h1 Business Experience
            .experiencePoint(ng-repeat = "experiencePoint in resumeData.experience")
                .separated
                    .experiencePoint.date(contenteditable ng-model = "experiencePoint.data_raw") {{experiencePoint.startyear}} - {{experiencePoint.endyear}}            
                    .rightCol
                        .experiencePoint.companyname(contenteditable ng-model ="experiencePoint.companyname") {{experiencePoint.companyname}}
                        .experiencePoint.location(contenteditable ng-model ="experiencePoint.location") {{experiencePoint.location}}
                        .experiencePoint.companydescription(contenteditable ng-model ="experiencePoint.industry") {{experiencePoint.industry}}
                        .experiencePoint.designation(contenteditable ng-model ="experiencePoint.position") {{experiencePoint.position}}
                        ul
                            li.experiencePoint.bullet(contenteditable ng-model = "bullet.text" ng-repeat = "bullet in experiencePoint.bullets") {{bullet.text}}
                            button(ng-click = "addBullet(experiencePoint)") Add Bullet
            button(ng-click = "addExperiencePoint()") Add another experience detail
        section.additionalInformation
            h1 Additional Information        
            ul
                li.additionalInformation.bullet(contenteditable ng-model = "bullet.text" ng-repeat = "bullet in resumeData.additional_data.bullets") {{bullet.text}} 
                button(ng-click = "addBullet(resumeData.additional_data)") Add Bullet
        section.languages
            h1 Languages
            .languages.text() Fluent English, Native Arabic
        section.nationality
            h1 Nationality
            .nationality.text() Saudi Arabia
    script(src = "./static/bower_components/angular/angular.min.js")
    script(src = "./static/bower_components/jquery/dist/jquery.min.js")
    script(src = "./static/bower_components/sweetalert/dist/sweetalert.min.js")
    script(src = "https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js")
    script(src = "./static/bower_components/tether/dist/js/tether.min.js")
    script(src = "./static/bower_components/tether-drop/dist/js/drop.min.js")
    script(src = "./static/bower_components/tether-tooltip/dist/js/tooltip.min.js")
    script.
        var resumeDataOld = !{JSON.stringify(resume)}
    script(src = "./static/templateSpecific/core.js")
    script.
        var emailDomain = "london.edu"
        checkEmail(emailDomain)
