doctype html
html(lang='en',ng-app = "resumeEditApp")
    head
        title St Gallen Template
        meta(charset='utf-8', name='name', content='content')
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel='stylesheet', href='./static/templateSpecific/StGallen/StGallen.css')
        link(rel="stylesheet" href="./static/templateSpecific/StGallen/print.css" type="text/css" media="print")
        link(rel = 'stylesheet' href = "./static/bower_components/tether-tooltip/dist/css/tooltip-theme-arrows.css")
        link(rel='stylesheet', href='./static/bower_components/sweetalert/dist/sweetalert.css')
    body(ng-controller = "mainCtrl")
        .separated
            .leftCol
                img(src = "./static/face.png")
                .container  
                    section.personalInformation
                        h1 Personal Data
                        .yearOfBirth Year Of Birth : {{resumeData.personalInformation.yearOfBirth}} 
                        .nationality Nationality {{resumeData.personalInformation.nationality}}
                        .residencePermit {{resumeData.personalInformation.residencePermit}}
                    section.contact
                        h1 Contact
                        .address(contenteditable ng-model = "resumeData.personalInformation.address") {{resumeData.personalInformation.address}}
                        .phone(contenteditable ng-model = "resumeData.personalInformation.phone") {{resumeData.personalInformation.phone}}
                        .email(contenteditable ng-model = "resumeData.personalInformation.email") {{resumeData.personalInformation.email}}
                    section.languages
                        h1 Languages
                        span(ng-repeat = "language in resumeData.additional_data.languages")
                    section.extraCurriculars
                        h1 ExtraCurricular Activities
                        ul
                            li.additionalInformation.bullet(contenteditable ng-model = "bullet.text" ng-repeat = "bullet in resumeData.additional_data.bullets") {{bullet.text}} 
                    section.interests
                        h1 Interests
                        span(ng-model = "resumeData.additional_data.interests[index]" ng-repeat = "(index,interest) in resumeData.additional_data.interests"){{interest + "  "}}
            .rightCol
                .name(contenteditable ng-model = "resumeData.personalInformation.name") {{resumeData.personalInformation.name}}
                section.profile
                    h1 Profile
                    .profile(contenteditable ng-model = "resumeData.profile") {{resumeData.profile}} 
                section.education
                    h1 Education
                    .educationPoint(ng-repeat = "educationPoint in resumeData.education")
                        .separated
                            .educationPoint.date(contenteditable ng-model = "educationPoint.endyear") {{educationPoint.startyear}} - {{educationPoint.endyear}}
                            .rightLarger
                                .educationPoint.schoolname(contenteditable ng-model = "educationPoint.schoolname" ) {{educationPoint.schoolname}}, 
                                .educationPoint.location(contenteditable ng-model = "educationPoint.location" ) {{educationPoint.location}}
                                .educationPoint.degree(contenteditable ng-model = "educationPoint.degree") {{educationPoint.degree}}
                    button(ng-click = "addEducationPoint()") Add Education
                section.experience
                    h1  Experience
                    .experiencePoint(ng-repeat = "experiencePoint in resumeData.experience")
                        .separated
                            .experiencePoint.date(contenteditable ng-model = "experiencePoint.data_raw") {{experiencePoint.startyear}} - {{experiencePoint.endyear}}
                            .rightLarger
                                .experiencePoint.companyname(contenteditable ng-model ="experiencePoint.companyname") {{experiencePoint.companyname}}
                                |  
                                .experiencePoint.location(contenteditable ng-model ="experiencePoint.location") {{experiencePoint.location}}
                                .experiencePoint.designation(contenteditable ng-model ="experiencePoint.position") {{experiencePoint.position}}
                                ul
                                    li.experiencePoint.bullet(contenteditable ng-model = "bullet.text" ng-repeat = "bullet in experiencePoint.bullets") {{bullet.text}}
                                    button(ng-click = "addBullet(experiencePoint)") Add Bullet
                    button(ng-click = "addExperiencePoint()") Add Experience
    script(src = "./static/bower_components/angular/angular.min.js")
    script(src = "./static/bower_components/jquery/dist/jquery.min.js")
    script(src = "./static/bower_components/sweetalert/dist/sweetalert.min.js")
    script(src = "https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js")
    script(src = "./static/bower_components/tether/dist/js/tether.min.js")
    script(src = "./static/bower_components/tether-drop/dist/js/drop.min.js")
    script(src = "./static/bower_components/tether-tooltip/dist/js/tooltip.min.js")
    script.
        var resumeDataOld = !{JSON.stringify(resume)}
    script(src = "./static/templateSpecific/core.js")
    script.
        $( document ).ready(function() 
        {
            var name = resumeDataOld.personalInformation.name
            var nameParts = name.split(' ')
            String.prototype.capitalizeFirstLetter = function() {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }
            nameParts[0] = nameParts[0].capitalizeFirstLetter()
            for(var i = 1;i<nameParts.length; i+=1)
            {
                nameParts[i] = nameParts[i].toUpperCase()
            }
            var scope = angular.element($("body")).scope();
            scope.$apply(function(){
                scope.resumeData.personalInformation.name = nameParts.join(' ');
            })
        });
        var emailDomain = "student.unisg.ch"
        checkEmail(emailDomain)
        
