<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kellog Alumni Template</title>
        <link rel="stylesheet" href="./style.css" />
    </head>
<body>
    <section id = "personalInformation">
        <div class="separated">
            <div id = "personalInformation.name">
                Dirk McCoy <br />
                847489272420
            </div>
            <div id = "personalInformation.email">
                dmccoy@mbarqtech.com
            </div>
        </div>

    </section>
    <section id = "experience">
        <h1> Experience</h1>
        <div class="experiencePoint">
            <div id = "experiencePoint.designation">
                Sr. Account Manager
            </div>
            <div class="separated">
                <div id = "experiencePoint.Company">
                    AG Communication Systems, an ATT-GTE Joint Venture
                </div>
                <div class="experiencePoint.Location">
                    Northlake, IL
                </div>
            </div>
            <div class = "experiencePoint.para">
                Created Electronic Manufacturing Services business through networking, world-class  process innovation, and paradigm shifting towards zero-defect and quick turn  customer-focus. Added $20M to bottom line over 3 years.
            </div>
        </div>
        <div class="experiencePoint">
            <div class = "experiencePoint.designation">
                Staff Engineer
            </div>
            <div class="separated">
                <div class = "experiencePoint.Company">
                    GTE Communications Systems
                </div>
                <div class="experiencePoint.Location">
                    Genoa IL
                </div>
            </div>
            <div class = "experiencePoint.para">
                Responsible for new process research and implementation for organic and inorganic  circuit boards, SMT, Chip On Board assembly, In-Circuit and RF test, wire and cable  assemblies, plastic and metal enclosures, and final assembly and test. Generated $2M  in annual cost reductions.
            </div>
        </div>

    </section>

    <section id = "education">
        <h1>Education</h1>
        <div class="educationPoint">
            <div class = "educationPoint.College">
                Kellogg School of Management, Northwestern University
            </div>
            <div class = "educationPoint.degree">
                MBA, concentrations in Organizational Behavior, Marketing, and Policy
            </div>
        </div>
        <div class="educationPoint">
            <div class = "educationPoint.College">
                 University of Illinois Champaign-Urbana
            </div>
            <div class = "educationPoint.degree">
                B.S., Ceramic Engineering
            </div>
        </div>
    </section>

    <section id = "Training">
        <h1>Training</h1>
        Swift and Xcode Programming, SEO optimization, Karrass Effective Negotiating,  Motorola Six Sigma, Motorola Process Characterization, GM APQP, Yestech X-ray AOI
    </section>

    <section id = "Leadership">
        <h1>Leadership</h1>
        <ul>
            <li>
                International Microelectronics Packaging Society- National Symposium Speaker
            </li>
            <li>
                Surface Mount Technology Association- National Conference Speaker
            </li>
            <li>
                Illinois Manufacturers Association- Team Excellence State Quality Awards Judge
            </li>
            <li>
                International Wireless Industry Consortium- Millimeterwave Advisory Committee
            </li>
            <li>
                University of Illinois Sigma Pi Fraternity- Alumni Board Member
            </li>
            <li>
                Northwestern University- NUvention Mentor
            </li>
            <li>
                1871- College U Mentor
            </li>
            <li>
                FCA Academy- Board Member
            </li>
        </ul>
    </section>
</body>
</html>
