.name, .email, .phone,.address, .schoolname, .degree, .bullet, .companyname, .location, .companydescription, .designation
{
    min-width: 100px;
}

.name, .email, .centeredFlex{
    max-width: 400px;
}

.schoolname, .companyname
{
    text-transform: uppercase;
}
.degree, .designation
{
    font-style: italic;
}

.name
{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.3em;
}
.name::first-letter
{
    font-size: 1.2em;
}
.centeredFlex
{
    align-items: center;
    justify-content: center;
    display: flex;
}
.centeredFlex div
{
    margin-left: 5px;
    margin-right: 5px;
}
.personalInformation
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.educationPoint.schoolname, .educationPoint.location, .experiencePoint.companyname, .experiencePoint.location
{
    display: inline;
}
.date
{
    text-align: right;
}
.location
{
    text-transform: capitalize;
}
body
{
    font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande", "Roboto", "Segoe";
        /*font-family: "Helvetica"*/
    margin: 1in 2in;
    line-height: 1.5em;
    font-size: 11pt;
}
h1, .schoolname, .companyname , .companydescription
{
    font-size: 1.2em;
    font-weight: 600;
}
ul
{
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 0px;
}
h1
{
    font-size: 1.4em;
    font-weight: 800;
    text-decoration: underline;
}
section
{
    margin-bottom: 15px;
}
.personalInformation
{
    text-align: center;
}
.separated
{
    display: flex;
    justify-content:space-between;
}
.rightCol
{
    min-width: 70%
}

@media screen and (max-width: 1024px) and (min-width: 500px)
{
    body
    {
        margin: 1in;
    }
	li
	{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 500px)
{
    body
    {
        margin: 20px;
    }
	li
	{
		font-size: 1.3em;
	}
}
