doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='./static/home.css')
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    .container
        h1 VMock Resume Parser
        h3 Please choose a Template and a Resume and hit 'Submit'
        label(for="template") Choose a University Template
        select(id="template" name="template")
            each template in params.templates
                option= template
        label(for="resumeID") Choose a Resume
        select(id="resumeID" name="resumeID")
            each resumeID in params.resumeIDs
                option= resumeID
        button(type="submit") Submit
        script(src="./static/bower_components/jquery/dist/jquery.min.js")
        script(src="./static/main.js")
