doctype html
html
  head
    meta(charset='utf-8')
  body
    label(for="community") Community
    select(id="community" name="community")
    label(for="person") Person_id
    select(id="person" name="person")
    button(type="submit") Submit
    script(src="./static/bower_components/jquery/dist/jquery.min.js")
    script(src="./static/main.js")
