
body
{
    margin: 0in;
    font-size: 10pt;
}

button, .margin-control
{
    display: none;
}
@viewport{
    zoom: 0.5;
    width: extend-to-zoom;
}
.leftCol
{
    margin-right: 0px;
    padding: 0px;
}
.tooltip-element, .tooltip
{
    display: none;
}
