.name, .email, .phone,.address, .schoolname, .degree, .bullet, .companyname, .location, .companydescription, .designation
{
    min-width: 100px;
}
.name
{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 2em;
    max-width: 400px;
}
.name,h1
{
    color: #008C41;
}
.personalInformation
{
    display: flex;
    flex-direction: column;
}
.educationPoint .date
{
    min-width: 20%;
}
.educationPoint .schoolname, .educationPoint .location, .experiencePoint .companyname, .experiencePoint .location
{
    display: inline;
}
body
{
    font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande", "Roboto", "Segoe";
        /*font-family: "Helvetica"*/
    margin: 1in 2in;
    line-height: 1.5em;
    font-size: 11pt;
}
h1, .schoolname, .companyname, .companydescription
{
    font-size: 1.2em;
    font-weight: 600;
}
.educationPoint.schoolname, .educationPoint.location
{
    font-style: bold;
}
.educationPoint.location, .experiencePoint.location, .experiencePoint.designation
{
    font-style: italic;
    text-transform: capitalize;
}
ul
{
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
}
h1{
    font-size: 1.4em;
    font-weight: 800;
    text-transform: uppercase;
}
section
{
    margin-bottom: 15px;
}
.separated
{
    display: flex;
    justify-content:space-between;
}

.leftCol
{
    width: 33%;
    margin-left: 0;
    margin-right: 30px;
}
.leftCol .container
{
    margin-top: 15px;
    background-color: #E6E7E9;
    padding:20px;
}
.rightCol
{
    width: 66%
}
.rightLarger
{
    width:80%;
}
.leftCol img
{
    width: 100%;
}

ul
{
    margin-top: 0px;
}
@media screen and (max-width: 1024px) and (min-width: 500px)
{
    body
    {
        margin: 1in;
    }
	li
	{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 500px)
{
    body
    {
        margin: 20px;
    }
	li
	{
		font-size: 1.3em;
	}
}
