<!DOCTYPE html>
<html lang="en">
<head>
    <title>LBS Template</title>
    <meta charset="utf-8" name="name" content="content">
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <section class = "personalInformation">
        <div class = "personalInformation name">
            Rashid A Alsuqair
        </div>
        <div class = "personalInformation email">
            ralsuqair@gmail.com
        </div>
        <div class = "personalInformation phone">
            00447456772774 - 00966505890586
        </div>
    </section>
    <section class = "education">
        <h1>Education</h1>
        <div class="educationPoint">
            <div class="separated">
                <div class="educationPoint date">
                    2013 - 2014
                </div>
                <div class="rightCol">
                    <div class = "educationPoint schoolname">
                        London Business School
                    </div>
                    <div class = "educationPoint degree">
                        Reading for Masters in Management degree"
                    </div>
                </div>
            </div>
        </div>
        <div class="educationPoint">
            <div class="separated">
                <div class="educationPoint date">
                    2007 - 2011
                </div>
                <div class="rightCol">
                    <div class = "educationPoint schoolname">
                        Prince Mohammad Bin Fahd University, Alkhobar, Saudi Arabia
                    </div>
                    <div class = "educationPoint degree">
                        Bsc in Finance
                        <ul>
                            <li class="educationBullet">
                                Dean's List student during undergraduate studies
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class = "experience">
        <h1> Experience</h1>
        <div class="experiencePoint">
            <div class="separated">
                <div class="experiencePoint date">
                    Mar 2012 to Apr 2013
                </div>
                <div class="rightCol">
                    <div class = "experiencePoint company">
                        SAUDI ARABIAN MONETARY AGENCY (SAMA)
                    </div>
                    <div class="experiencePoint location">
                        Riyadh, Saudi Arabia
                    </div>
                    <div class="experiencePoint companydescription">
                        Central Bank of Saudi Arabia.</div>
                    <div class = "experiencePoint.designation">
                        Business Development
                    </div>
                    <ul class="experiencePoint bullets">
                        <li class="experiencePoint bullet">Managed team of 12 representatives from SAMA and participant banks to oversee Prepaid Payment Services (PPS) Pilot Program</li>
                        <li class="experiencePoint bullet">Analyzed and critiqued technology-related financial products, made approval recommendations to Director, and ensured compliance with SAMA rules</li>
                        <li class="experiencePoint bullet">Served as SAMA  s representative to consult on Wage Protection System (WPS), a Ministry of Labor national initiative to ensure workers in KSA receive salaries on-time and in-full via monitored process</li>
                        <li class="experiencePoint bullet">Managed quarterly merchant satisfaction survey regarding SPAN linked point-of-sale (POS) terminals, measured system updates impact, and developed project business cases, including enablement of POS offline and contactless transactions</li>
                        <li class="experiencePoint bullet">Assisted development of updated SPAN Operating Rules, Standards and Procedures</li>
                        <li class="experiencePoint bullet">Supported launch of new SPAN website, including design selection, content development and editing, and management of pre-launch User Acceptance Testing and subsequent modifications</li>
                        <li class="experiencePoint bullet">Served on 8-member evaluation committee representing SAMA and member banks to select a marketing firm to manage advertisement of new SPAN brand</li>
                        <li class="experiencePoint bullet">Researched potential KSA market entry of international credit card company, focusing on potential regional brand acceptance, and presented recommendations to Director on whether company should enter market at current time</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experiencePoint">
            <div class="separated">
                <div class="experiencePoint date">
                    Mar 2012 to Apr 2013
                </div>
                <div class="rightCol">
                    <div class = "experiencePoint company">
                       NATIONAL INDUSTRIALISATION COMPANY (TASNEE)
                    </div>
                    <div class="experiencePoint location">
                        Jubail, Saudi Arabia
                    </div>
                    <div class = "experiencePoint designation">
                        Procurement Analyst
                    </div>
                    <ul class="experiencePoint bullets">
                        <li class="experiencePoint bullet">Managed process to review, analyze, and approve purchase requisitions and related vendor proposals and awarded Purchase Orders to vendors of value up to SAR1 million</li>
                        <li class="experiencePoint bullet">Evaluated contracts and negotiated pricing, service, payment and related terms with manufacturing, IT and other vendors</li>
                        <li class="experiencePoint bullet">Liaised between vendors and end-users to clarify technical proposals and Scope of Work definitions</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="experiencePoint">
            <div class="separated">
                <div class="experiencePoint date">
                    Aug 2010 to Sep 2010
                </div>
                <div class="rightCol">
                    <div class = "experiencePoint company">
                        BANK OF AMERICA MERRILL LYNCH
                    </div>
                    <div class="experiencePoint location">
                        Dubai, United Arab Emirates
                    </div>
                    <div class = "experiencePoint designation">
                        Internship
                    </div>
                    <ul class="experiencePoint bullets">
                        <li class="experiencePoint bullet">Prepared reports to identify regional investment opportunities worldwide for use by Financial Advisors</li>
                        <li class="experiencePoint bullet">Conducted client case studies to understand financial position, risk tolerance, and expected return, analyzed security markets, and constructed draft client portfolios</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section class = "additionalInformation">
        <h1>Additional Information</h1>
        <ul class="experiencePoint bullets">
            <li class="experiencePoint bullet">Vice President of the LBS Energy Club Executive Committee, responsible for career services/li>
            <li class="experiencePoint bullet">Active member of the LBS Private Equity and Venture Capital Club, Finance Club, Industry</li>
            <li>Club and Football Club</li>
            <li>Strategic Planner in Giving Hands, a Saudi Charity Organization, planning for fund-raising  and charitable events</li>
            <li>Volunteered as a Finance Expert at Rawabi Talent Exhibit in Saudi Arabia</li>
        </ul>
    </section>
    <section class = "languages">
        <h1>Languages</h1>
        <div class="languages text">
            Fluent English, Native Arabic
        </div>
    </section>
    <section class = "nationality">
        <h1>Nationality</h1>
        <div class="nationality text">
            Saudi Arabia
        </div>
    </section>
</body>
</html>
